{% extends 'frontend/base.html' %}

{% block title %}Register Patient{% endblock %}
{% load static %}

{% block content %}
<div class="content-wrapper">
	<div class="container-xxl flex-grow-1 container-p-y">
	<div class="row">
		<div class="col-lg-8 mb-4 order-0">
		<div class="card">
			<div class="d-flex align-items-end row">
			<div class="col-sm-7">
				<div class="card-body">
                    <form method="POST" action=".">
                        {% csrf_token %}
                            <div class="mb-3">
                              <label class="form-label" for="basic-default-fullname">Full Name</label>
                              <input type="text" class="form-control" id="basic-default-fullname" placeholder="John Doe" />
                            </div>
                            <div class="mb-3">
                              <label class="form-label" for="basic-default-company">Company</label>
                              <input type="text" class="form-control" id="basic-default-company" placeholder="ACME Inc." />
                            </div>
                            <div class="mb-3">
                              <label class="form-label" for="basic-default-email">Email</label>
                              <div class="input-group input-group-merge">
                                <input
                                  type="text"
                                  id="basic-default-email"
                                  class="form-control"
                                  placeholder="john.doe"
                                  aria-label="john.doe"
                                  aria-describedby="basic-default-email2"
                                />
                                <span class="input-group-text" id="basic-default-email2">@example.com</span>
                              </div>
                              <div class="form-text">You can use letters, numbers & periods</div>
                            </div>
                            <div class="mb-3">
                              <label class="form-label" for="basic-default-phone">Phone No</label>
                              <input
                                type="text"
                                id="basic-default-phone"
                                class="form-control phone-mask"
                                placeholder="658 799 8941"
                              />
                            </div>
                            <div class="mb-3">
                              <label class="form-label" for="basic-default-message">Message</label>
                              <textarea
                                id="basic-default-message"
                                class="form-control"
                                placeholder="Hi, Do you have a moment to talk Joe?"
                              ></textarea>
                            </div>
                            <button type="submit" class="btn btn-primary">Send</button>
                          </form>
                        </div>
                      </div>
                    </div>
                    <div class="col-xl">
                      <div class="card mb-4">
                        <div class="card-header d-flex justify-content-between align-items-center">
                          <h5 class="mb-0">Basic with Icons</h5>
                          <small class="text-muted float-end">Merged input group</small>
                        </div>
                        <div class="card-body">
                          <form>
                            <div class="mb-3">
                              <label class="form-label" for="basic-icon-default-fullname">Full Name</label>
                              <div class="input-group input-group-merge">
                                <span id="basic-icon-default-fullname2" class="input-group-text"
                                  ><i class="bx bx-user"></i
                                ></span>
                                <input
                                  type="text"
                                  class="form-control"
                                  id="basic-icon-default-fullname"
                                  placeholder="John Doe"
                                  aria-label="John Doe"
                                  aria-describedby="basic-icon-default-fullname2"
                                />
                              </div>
                            </div>
                            <div class="mb-3">
                              <label class="form-label" for="basic-icon-default-company">Company</label>
                              <div class="input-group input-group-merge">
                                <span id="basic-icon-default-company2" class="input-group-text"
                                  ><i class="bx bx-buildings"></i
                                ></span>
                                <input
                                  type="text"
                                  id="basic-icon-default-company"
                                  class="form-control"
                                  placeholder="ACME Inc."
                                  aria-label="ACME Inc."
                                  aria-describedby="basic-icon-default-company2"
                                />
                              </div>
                            </div>
                            <div class="mb-3">
                              <label class="form-label" for="basic-icon-default-email">Email</label>
                              <div class="input-group input-group-merge">
                                <span class="input-group-text"><i class="bx bx-envelope"></i></span>
                                <input
                                  type="text"
                                  id="basic-icon-default-email"
                                  class="form-control"
                                  placeholder="john.doe"
                                  aria-label="john.doe"
                                  aria-describedby="basic-icon-default-email2"
                                />
                                <span id="basic-icon-default-email2" class="input-group-text">@example.com</span>
                              </div>
                              <div class="form-text">You can use letters, numbers & periods</div>
                            </div>
                            <div class="mb-3">
                              <label class="form-label" for="basic-icon-default-phone">Phone No</label>
                              <div class="input-group input-group-merge">
                                <span id="basic-icon-default-phone2" class="input-group-text"
                                  ><i class="bx bx-phone"></i
                                ></span>
                                <input
                                  type="text"
                                  id="basic-icon-default-phone"
                                  class="form-control phone-mask"
                                  placeholder="658 799 8941"
                                  aria-label="658 799 8941"
                                  aria-describedby="basic-icon-default-phone2"
                                />
                              </div>
                            </div>
                            <div class="mb-3">
                              <label class="form-label" for="basic-icon-default-message">Message</label>
                              <div class="input-group input-group-merge">
                                <span id="basic-icon-default-message2" class="input-group-text"
                                  ><i class="bx bx-comment"></i
                                ></span>
                                <textarea
                                  id="basic-icon-default-message"
                                  class="form-control"
                                  placeholder="Hi, Do you have a moment to talk Joe?"
                                  aria-label="Hi, Do you have a moment to talk Joe?"
                                  aria-describedby="basic-icon-default-message2"
                                ></textarea>
                              </div>
                            </div>
                            <button type="submit" class="btn btn-primary">Send</button>
                          </form>
                </div>
			</div>
            </div>
        </div>
    </div>
    </div>
    </div>
</div>
        
        <!-- <div className="card-body">
            <form method="POST" action=".">
                {% csrf_token %}
            <div className="row">
                <div className="mb-3 col-md-6">
                <label for="firstName" className="form-label">First Name <span className="asterisk">*</span></label>
                <input className="form-control" type="text" name="fname" placeholder="John"  maxLength="40" 
                    required />
                    {errors.fname && <small className="text-danger text-xs font-italic">First Name is required</small>}
                </div>

                <div className="mb-3 col-md-6">
                <label for="lastName" className="form-label">Surname <span className="asterisk">*</span></label>
                <input className="form-control" type="text" name="sname" placeholder="Doe" maxLength="20" required />
                    {errors.sname && <small className="text-danger text-xs font-italic">Surname is required</small>}
                </div>

                <div className="mb-3 col-md-6">
                <label for="lastName" className="form-label">Gender <span className="asterisk">*</span></label>
                <select className="select2 form-select" name="gender" required >
                    <option value="">- Choose -</option>
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                </select>
                {errors.gender && <small className="text-danger text-xs font-italic">Gender is required</small>}
                </div>
                
                <div className="mb-3 col-md-6">
                <label for="organization" className="form-label">Address</label>
                <input type="text" className="form-control" name="address" placeholder="123 Sample Street, Allen Avenue, Ikeja, Lagos" />
                </div>

                <div className="mb-3 col-md-6">
                <label className="form-label" for="phoneNumber">Phone Number</label>
                <div className="input-group input-group-merge">
                    <span className="input-group-text">NG (+234)</span>
                    <input type="text" name="phone" className="form-control" placeholder="803 456 7890" maxLength="12" />
                </div>
                </div>

                <div className="mb-3 col-md-6">
                <label for="email" className="form-label">E-mail</label>
                <input className="form-control" type="email" name="email" placeholder="john.doe@example.com" maxLength="40" />
                </div>

                <div className="mb-3 col-md-6">
                <label for="lastName" className="form-label">Contact Person's Name</label>
                <input className="form-control" type="text" name="contact_person" placeholder="e.g. Brother's name ..." maxLength="40" />
                </div>

                <div className="mb-3 col-md-6">
                <label for="lastName" className="form-label">Contact Person's Phone</label>
                <input className="form-control" type="text" name="contact_person_phone" placeholder="e.g. Brother's phone no. ..." maxLength="30" />
                </div>
                
            </div>
            <div className="mt-2">
                <button className="btn btn-primary me-2">Save Record</button>
                <button type="reset" className="btn btn-outline-secondary">Cancel</button>
            </div>
            </form>
        </div> -->

        </div>
    </div>
    </div>
</div> 
</div>
  {% endblock %}