{% extends 'frontend/base.html' %}

{% block title %}Register Patient{% endblock %}
{% load static %}

{% block content %}
<div class="content-wrapper">
  <div class="container-xxl flex-grow-1 container-p-y">
    <div class="row">
      <div class="col-xl">
      <div class="card mb-4">
        <div class="card-header d-flex justify-content-between align-items-center">
          <h5 class="mb-0">Register Patients / <small class="text-primary text-normal">{{company|slice:"0:19"}}</small></h5>
          <small class="text-muted float-end">
            Compulsory fields marked <span class="asterisk">*</span></small>
        </div>
        <div class="card-body">
          <form method="POST" action=".">
            {% csrf_token %}
            <div class="row">
              <div class="col-6 mb-3">
                <label class="form-label" for="basic-icon-default-fullname">First Name <span class="asterisk">*</span></label></label>
                <div class="input-group input-group-merge">
                  <span id="basic-icon-default-fullname2" class="input-group-text">
                    <i class="bx bx-user"></i></span>
                  <input class="form-control" type="text" name="fname" placeholder="John" 
                    maxLength="40" required />
                </div>
                <!-- <div class="form-text">You can use letters, numbers & periods</div> -->
              </div>
              <div class="col-6 mb-3">
                <label class="form-label" for="basic-icon-default-company">Surname <span class="asterisk">*</span></label></label>
                  <input class="form-control" type="text" name="sname" placeholder="Doe" 
                    maxLength="20" required />
              </div>
              <div class="mb-3 col-md-6">
                <label for="lastName" class="form-label">Gender <span class="asterisk">*</span></label>
                <select class="select2 form-select" name="gender" required >
                    <option value="">- Choose -</option>
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                </select>
              </div>
                
              <div class="mb-3 col-md-6">
                <label for="organization" class="form-label">Address</label>
                <div class="input-group input-group-merge">
                  <span id="basic-icon-default-company2" class="input-group-text">
                  <i class="bx bx-buildings"></i></span>
                  <input type="text" class="form-control" name="address" placeholder="123 Sample Street, Allen Avenue, Ikeja, Lagos" />
                </div>
              </div>

              <div class="mb-3 col-md-6">
                <label class="form-label" for="phoneNumber">Phone Number</label>
                <div class="input-group input-group-merge">
                  <span id="basic-icon-default-phone2" class="input-group-text">
                    <i class="bx bx-phone"></i></span>
                    <input type="text" name="phone" class="form-control" placeholder="803 456 7890" maxLength="12" />
                </div>
              </div>

              <div class="mb-3 col-md-6">
                <label for="email" class="form-label">E-mail</label>
                <div class="input-group input-group-merge">
                  <span class="input-group-text"><i class="bx bx-envelope"></i></span>
                  <input class="form-control" type="email" name="email" placeholder="john.doe@example.com"
                    maxLength="40" />
                </div>
              </div>

              <div class="mb-3 col-md-6">
                <label for="lastName" class="form-label">Contact Person's Name</label>
                <div class="input-group input-group-merge">
                  <span id="basic-icon-default-user" class="input-group-text">
                  <i class="bx bx-user"></i></span>
                  <input class="form-control" type="text" name="contact_person" placeholder="e.g. Brother's name ..." 
                    maxLength="40" />
                </div>
              </div>

              <div class="mb-3 col-md-6">
                <label for="lastName" class="form-label">Contact Person's Phone</label>
                <div class="input-group input-group-merge">
                <span id="basic-icon-default-phone2" class="input-group-text">
                  <i class="bx bx-phone"></i></span>
                  <input class="form-control" type="text" name="contact_person_phone" placeholder="e.g. Brother's phone no. ..." 
                  maxLength="30" />
                </div>
              </div>
              <!-- <div class="input-group input-group-merge">
                <span id="basic-icon-default-message2" class="input-group-text"
                  ><i class="bx bx-comment"></i
                ></span>
                <textarea
                  id="basic-icon-default-message"
                  class="form-control"
                  placeholder="Hi, Do you have a moment to talk Joe?"
                  aria-label="Hi, Do you have a moment to talk Joe?"
                  aria-describedby="basic-icon-default-message2"
                ></textarea>
              </div> -->
              <div class="mt-2">
                <button class="btn btn-primary me-2">Save Record</button>
                <button type="reset" class="btn btn-outline-secondary">Cancel</button>
            </div>
          </div>
          </form>
        </div>
      </div>
    </div>
   </div>
  </div>
</div>
        
<!--<div class="card-body">
    <form method="POST" action=".">
        {% csrf_token %}
    <div class="row">
        <div class="mb-3 col-md-6">
        <label for="firstName" class="form-label">First Name <span class="asterisk">*</span></label>
        <input class="form-control" type="text" name="fname" placeholder="John"  maxLength="40" 
            required />
            {errors.fname && <small class="text-danger text-xs font-italic">First Name is required</small>}
        </div>

        <div class="mb-3 col-md-6">
        <label for="lastName" class="form-label">Surname <span class="asterisk">*</span></label>
        <input class="form-control" type="text" name="sname" placeholder="Doe" maxLength="20" required />
            {errors.sname && <small class="text-danger text-xs font-italic">Surname is required</small>}
        </div>

        <div class="mb-3 col-md-6">
        <label for="lastName" class="form-label">Gender <span class="asterisk">*</span></label>
        <select class="select2 form-select" name="gender" required >
            <option value="">- Choose -</option>
            <option value="Male">Male</option>
            <option value="Female">Female</option>
        </select>
        {errors.gender && <small class="text-danger text-xs font-italic">Gender is required</small>}
        </div>
        
        <div class="mb-3 col-md-6">
        <label for="organization" class="form-label">Address</label>
        <input type="text" class="form-control" name="address" placeholder="123 Sample Street, Allen Avenue, Ikeja, Lagos" />
        </div>

        <div class="mb-3 col-md-6">
        <label class="form-label" for="phoneNumber">Phone Number</label>
        <div class="input-group input-group-merge">
            <span class="input-group-text">NG (+234)</span>
            <input type="text" name="phone" class="form-control" placeholder="803 456 7890" maxLength="12" />
        </div>
        </div>

        <div class="mb-3 col-md-6">
        <label for="email" class="form-label">E-mail</label>
        <input class="form-control" type="email" name="email" placeholder="john.doe@example.com" maxLength="40" />
        </div>

        <div class="mb-3 col-md-6">
        <label for="lastName" class="form-label">Contact Person's Name</label>
        <input class="form-control" type="text" name="contact_person" placeholder="e.g. Brother's name ..." maxLength="40" />
        </div>

        <div class="mb-3 col-md-6">
        <label for="lastName" class="form-label">Contact Person's Phone</label>
        <input class="form-control" type="text" name="contact_person_phone" placeholder="e.g. Brother's phone no. ..." maxLength="30" />
        </div>
        
    </div>
    <div class="mt-2">
        <button class="btn btn-primary me-2">Save Record</button>
        <button type="reset" class="btn btn-outline-secondary">Cancel</button>
    </div>
    </form>
</div> -->

{% endblock %}