{% extends 'frontend/includes/form_structure.html' %}
{% block title %}Write S-O-A-P Note{% endblock %}
{% load static %}

{% block content %}

{% if user.userprofile.is_doc or user.userprofile.is_admin %}
  <!-- PAGE TITLE -->
  {% block page_title %}Write S-O-A-P Note {% endblock %}
  <!-- LABELS -->
  {% block label1 %}Patient{% endblock %} {% block label2 %}Date of Visit{% endblock %}
  {% block label3 %}Subjective{% endblock %} {% block label4 %}Objective{% endblock %}
  {% block label5 %}Assessment{% endblock %} {% block label6 %}Plan{% endblock %}
  {% block label7 %}Other Comments{% endblock %} 

  <!-- INPUTS -->
  <!-- input 1 -->
  {% block input1 %}patient{% endblock %} {% block input1_required %}required{% endblock %} 
  {% block input1_form %}select{% endblock %}
  {% block input1_formb %}select{% endblock %} {% block input1_asterisk %}*{% endblock %}
  {% block opt_1 %}
  <option value="">- Choose Patient -</option>
  {% for pat in patients %}
    <option value="{{pat.id}}">{{pat.fname}} {{pat.sname}} ({{pat.gender}}) - {{pat.phone}}</option>
  {% endfor %}
  {% endblock %}

  <!-- input 2 -->
  {% block input2 %}date_of_visit{% endblock %} {% block input2_required %}required{% endblock %} 
  {% block input2_type %}date{% endblock %} {% block input2_form %}input{% endblock %}
  {% block input2_formb %}input{% endblock %} {% block input2_asterisk %}*{% endblock %}
  <!-- input 3 -->
  {% block input3 %}subjective{% endblock %} {% block input3_required %}required{% endblock %} 
  {% block input3_form %}textarea{% endblock %}
  {% block input3_formb %}textarea{% endblock %} {% block input3_asterisk %}*{% endblock %}
  {% block input3_placeholder %}Write the Subjective here ...{% endblock %}
  <!-- input 4 -->
  {% block input4 %}objective{% endblock %}
  {% block input4_form %}textarea{% endblock %}
  {% block input4_formb %}textarea{% endblock %}
  {% block input4_placeholder %}Write the Objective here{% endblock %}
  <!-- input 5 -->
  {% block input5 %}assessment{% endblock %}
  {% block input5_form %}textarea{% endblock %}
  {% block input5_formb %}textarea{% endblock %}
  {% block input5_placeholder %}Write the Assessment here{% endblock %}
  <!-- input 6 -->
  {% block input6 %}plan{% endblock %}
  {% block input6_form %}textarea{% endblock %}
  {% block input6_formb %}textarea{% endblock %}
  {% block input6_placeholder %}Write the Plan here{% endblock %}
  <!-- input 7 -->
  {% block input7 %}comments{% endblock %}
  {% block input7_form %}textarea{% endblock %}
  {% block input7_formb %}textarea{% endblock %}
  {% block input7_placeholder %}Write the Comments here{% endblock %}

  <!-- BUTTONS -->
  {% block btn_label1 %}Save Record{% endblock %}
  {% block btn_label2 %}Cancel{% endblock %}

{% else %}
  {% include 'frontend/includes/page_unauthorized.html' %}
{% endif %}

{% endblock %}