{% extends 'frontend/base.html' %}

{% block title %}Record Test Action{% endblock %}
{% load static %}

{% block content %}
<script defer src="{% static 'js/recordtest_action.js' %}"></script>

<div class="content-wrapper">
  <div class="container-xxl flex-grow-1 container-p-y">
    <div class="row">
      <div class="col-xl">
      <div class="card mb-4">
        <div class="card-body">      
          <h4 class="card-title">Record Test Action / <small class="text-primary">{{company|slice:"0:19"}}</small></h4>
          <p class="card-description text-success"><b>1. Request received</b></p>
          <form method="POST" action="." class="forms-sample">
            {% csrf_token %}
            <div class="row">
              <div class="col-12 col-md-6 form-group pb-3">
                <label>Patient </label>
                <input type="text" name="patient_id" class="form-control" value="{{record_lab.patient.fname}} {{record_lab.patient.sname}}" readonly />
              </div>
              <div class="col-12 col-md-6 form-group pb-3">
                <label>Date of Visit</label>
                <input type="text" name="date_of_visit" class="form-control" value="{{record_lab.date_of_visit}}"readonly />
              </div>
			  <div class="col-12 col-md-6 form-group pb-3">
                <label>Requested By</label>
                <input type="text" name="created_by" class="form-control" value="{{record_lab.created_by}}" readonly />
              </div>
              <div class="col-12 col-md-6 form-group pb-3">
                <label>Requested On</label>
                <input type="text" name="created_by" class="form-control" value="{{record_lab.created_at}}" readonly />
              </div>
              <div class="col-12 form-group pb-3">
                <label>A list of lab tests to be conducted (requested by Doctor)</label>
                <textarea class="form-control" readonly>{{record_lab.tests}}</textarea>
              </div>
            </div>
            <span class="text-danger">NOTE: The sections above cannot be edited</span>. 
            <br />Edit the sections below!
        </div>
      </div>
    </div>
    </div>

    <div class="row">
      <div class="col-xl">
        <div class="card mb-4">
          <div class="card-body">      
            <p class="card-description text-success"><b>2. Fill out this form to record test action</b></p>
              <div class="row">
                <div class="col-12 col-md-6 form-group pb-3">
                  <label>Copy &amp; paste each Test from the "list of lab tests" above </label>
                  <input type="text" class="chkcvalues form-control" />
                </div>
                <div class="col-12 col-md-6 form-group pb-3">
                  <label>Enter the corresponding Test Result</label>
                  <input type="text" class="chkcvalues2 form-control" />
                </div>
                <div class="col-12 form-group pb-3">
                    <button class="chkcbtn btn btn-success btn-sm">+ Add to list</button> 
                </div>
                <div class="col-12 mb-4">
                    <div class="col-12">
                      <label className="seofct-icon pb-0 mb-0">Tests and Results that you have added are automatically enlisted here</label> 
                    </div>
                    <textarea name="test_result" id="txtvalues" class="form-control" required></textarea>
                    <small id="emailHelp" class="form-text text-muted"><span class="text-danger">Required. </span> You can manually add more medicine/dosages and separate each with comma</small>
                </div>
                <div class="col-12 col-md-7 form-group pb-3">After entering each tests with corresponding 
                    results and everything is complete, click the button below to save/send result to Doc.
                </div>
                
                <input type="hidden" name="created_by" class="form-control" value="{{user.userprofile.first_name}} {{user.userprofile.last_name}}" readonly />
                <hr />
                <div class="col-6 form-group pb-3">
                  <button class="btn btn-primary btn-rounded me-2">Save Test Action</button>
                  <button type="reset" class="btn btn-outline-secondary">Cancel</button>
                </div><br />
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}