{% extends 'frontend/base.html' %}

{% block title %}View Lab Result{% endblock %}
{% load static %}

{% block content %}

{% if user.userprofile.is_lab or user.userprofile.is_doc or user.userprofile.is_admin %}
<div class="content-wrapper">
  <div class="container-xxl flex-grow-1 container-p-y">
    <div class="row">
      <div class="col-xl">
      <div class="card mb-4">
        <div class="card-header d-flex justify-content-between align-items-center">
          <h5 class="mb-0">View Lab Result / <small class="text-primary text-normal">{{company|slice:"0:19"}}</small></h5>
        </div>
      
        <div class="table-responsive text-nowrap">
          <table class="table table-hover table-striped">
            <thead>
              <tr>
                <th>Patient</th>
                <th>Date of Visit</th>
                <th>Medicine 1</th>
                <th>Med1 Dose</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody class="table-border-bottom-0">
              {% for view_labresult in view_labresults %}
              <tr>
                <td><i class="fab fa-angular fa-lg text-danger me-3"></i> <strong>{{view_labresult.patient_id}}</strong></td>
                <td>{{view_labresult.date_of_visit}}</td>
                
                <td><span class="badge bg-label-success me-1">Active</span></td>
                <td>
                  <div class="dropdown">
                    <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                      <i class="bx bx-dots-vertical-rounded"></i>
                    </button>
                    <div class="dropdown-menu">
                      <a class="dropdown-item" href="javascript:void(0);"
                        ><i class="bx bx-edit-alt me-1"></i> Edit</a
                      >
                      <a class="dropdown-item" href="javascript:void(0);"
                        ><i class="bx bx-trash me-1"></i> Delete</a
                      >
                    </div>
                  </div>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
    </div>
   </div>
  </div>
</div>
{% else %}
  {% include 'frontend/includes/page_unauthorized.html' %}
{% endif %}

{% endblock %}