<!DOCTYPE html>
<html lang="en" class="light-style layout-menu-fixed" dir="ltr" data-theme="theme-default"
  data-assets-path="../assets/" 
  data-template="vertical-menu-template-free">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"/>
    <title>{% block title %}{% endblock %} | {{ company }}</title>

    {% load static %}
    <meta name="description" content="" />
    <link rel="icon" type="image/x-icon" href="../assets/img/favicon/favicon.ico" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
      rel="stylesheet" />
    <!-- Icons. Uncomment required icon fonts -->
    <link rel="stylesheet" href="{% static 'vendor/fonts/boxicons.css' %}" />
    <link rel="stylesheet" href="{% static 'vendor/css/core.css' %}" class="template-customizer-core-css' %}" />
    <link rel="stylesheet" href="{% static 'vendor/css/theme-default.css' %}" class="template-customizer-theme-css' %}" />
    <link rel="stylesheet" href="{% static 'css/demo.css' %}" />
    <link rel="stylesheet" href="{% static 'css/custom.css' %}" />
    <link rel="stylesheet" href="{% static 'vendor/libs/perfect-scrollbar/perfect-scrollbar.css' %}" />
    <link rel="stylesheet" href="{% static 'vendor/libs/apex-charts/apex-charts.css' %}" />
    <script src="{% static 'vendor/js/helpers.js' %}"></script>

    <!--! Template customizer & Theme config files MUST be included after core stylesheets and helpers.js in the <head> section -->
    <!--? Config:  Mandatory theme config file contain global vars & default theme options, Set your preferred theme option in this file.  -->
    <script src="{% static 'js/config.js' %}"></script>
  </head>

  <body>
    <div class="layout-wrapper layout-content-navbar">
      <div class="layout-container">
        <div class="layout-page">
        
        {% if request.user.is_authenticated %}

          {% include 'frontend/includes/sidebar.html' %}
          {% include 'frontend/includes/topbar.html' %}
          
          <div class="content-wrapper">
  <div class="container-xxl flex-grow-1 container-p-y">
    <div class="row">
      <div class="col-xl">
      <div class="card mb-4">
        <div class="card-header d-flex justify-content-between align-items-center">
          <h5 class="mb-0">{% block page_title %}{% endblock %} / <small class="text-primary text-normal">{{company|slice:"0:19"}}</small></h5>
          <small class="text-muted float-end">
            Compulsory fields marked <span class="asterisk">*</span></small>
        </div>
        <div class="card-body">
          <form method="POST" action=".">
            {% csrf_token %}
            <div class="row">
              <div class="mb-3 col-12 col-md-6">
                <label for="lastName" class="form-label">{% block label1 %}{% endblock %} <span class="asterisk">{% block input1_asterisk %}{% endblock %}</span></label>
                <{% block input1_form %}{% endblock %} class="form-control" name="{% block input1 %}{% endblock %}" {% block input1_required %}{% endblock %}>
                    {% block opt_1 %}{% endblock %}
                </{% block input1_formb %}{% endblock %}>
              </div>

              <div class="col-6 mb-3 col-md-6">
                <label class="form-label" for="basic-icon-default-company">{% block label2 %}{% endblock %} <span class="asterisk">{% block input2_asterisk %}{% endblock %}</span></label>
                <{% block input2_form %}{% endblock %} class="form-control" type="{% block input2_type %}{% endblock %}" 
                    name="{% block input2 %}{% endblock %}" placeholder="{% block input2_placeholder %}{% endblock %}" {% block input2_required %}{% endblock %}>
                    {% block opt_2 %}{% endblock %}
                </{% block input2_formb %}{% endblock %}>
              </div>

              <div class="mb-3 col-12 col-md-6">
                <label for="organization" class="form-label">{% block label3 %}{% endblock %} <span class="asterisk">{% block input3_asterisk %}{% endblock %}</span></label>
                <div class="input-group input-group-merge">
                  <span id="basic-icon-default-company2" class="input-group-text">
                  <i class="bx bx-note"></i></span>
                  <{% block input3_form %}{% endblock %} type="{% block input3_type %}{% endblock %}" class="form-control"
                    name="{% block input3 %}{% endblock %}" placeholder="{% block input3_placeholder %}{% endblock %}" {% block input3_required %}{% endblock %} >
                    {% block opt_3 %}{% endblock %}
                  </{% block input3_formb %}{% endblock %}>
                </div>
              </div>
                
              <div class="mb-3 col-12 col-md-6">
                <label for="organization" class="form-label">{% block label4 %}{% endblock %}</label>
                <div class="input-group input-group-merge">
                  <span id="basic-icon-default-company2" class="input-group-text">
                  <i class="bx bx-comment"></i></span>
                  <{% block input4_form %}{% endblock %} type="{% block input4_type %}{% endblock %}" class="form-control"
                    name="{% block input4 %}{% endblock %}" placeholder="{% block input4_placeholder %}{% endblock %}" {% block input4_required %}{% endblock %} >
                    {% block opt_4 %}{% endblock %}
                  </{% block input4_formb %}{% endblock %}>                 
                </div>
              </div>

              <div class="mb-3 col-12 col-md-6">
                <label class="form-label" for="phoneNumber">{% block label5 %}{% endblock %}</label>
                <div class="input-group input-group-merge">
                  <span id="basic-icon-default-phone2" class="input-group-text">
                    <i class="bx bx-edit"></i></span>
                    <{% block input5_form %}{% endblock %} type="{% block input5_type %}{% endblock %}" class="form-control"
                    name="{% block input5 %}{% endblock %}" placeholder="{% block input5_placeholder %}{% endblock %}" {% block input5_required %}{% endblock %} >
                    {% block opt_5 %}{% endblock %}
                  </{% block input5_formb %}{% endblock %}>
                </div>
              </div>

              <div class="mb-3 col-12 col-md-6">
                <label for="email" class="form-label">{% block label6 %}{% endblock %}</label>
                <div class="input-group input-group-merge">
                  <span class="input-group-text"><i class="bx bx-envelope"></i></span>
                  <{% block input6_form %}{% endblock %} type="{% block input6_type %}{% endblock %}" class="form-control"
                    name="{% block input6 %}{% endblock %}" placeholder="{% block input6_placeholder %}{% endblock %}" {% block input6_required %}{% endblock %} >
                    {% block opt_6 %}{% endblock %}
                  </{% block input6_formb %}{% endblock %}>
                </div>
              </div>

              <div class="mb-3 col-12 col-md-6">
                <label for="lastName" class="form-label">{% block label7 %}{% endblock %}</label>
                <div class="input-group input-group-merge">
                  <span id="basic-icon-default-user" class="input-group-text">
                  <i class="bx bx-user"></i></span>
                  <{% block input7_form %}{% endblock %} type="{% block input7_type %}{% endblock %}" class="form-control"
                    name="{% block input7 %}{% endblock %}" placeholder="{% block input7_placeholder %}{% endblock %}" {% block input7_required %}{% endblock %} >
                    {% block opt_7 %}{% endblock %}
                  </{% block input7_formb %}{% endblock %}>
                </div>
              </div>

              {% block eight %}{% endblock %}
              {% block nine %}{% endblock %}
              {% block ten %}{% endblock %}
              {% block eleven %}{% endblock %}
              {% block twelve %}{% endblock %}
              <!-- <input type="text" name="recorded_by" class="form-control" value="{{user.userprofile.first_name}} {{user.userprofile.last_name}}" /> -->
              
              <div class="mt-2">
                <button class="btn btn-primary me-2">{% block btn_label1 %}{% endblock %}</button>
                <button type="reset" class="btn btn-outline-secondary">{% block btn_label2 %}{% endblock %}</button>
            </div>
          </div>
          </form>
        </div>
      </div>
    </div>
   </div>
  </div>
</div>


{% include 'frontend/includes/footer.html' %}
        
        {% else %}
          <br /><h3>Sorry, you are not authenticated to access this page. 
          <br />Try <a href="{% url 'login' %}">logging in</a>, instead.</h3>
        {% endif %}
          <div class="content-backdrop fade"></div>
        </div>
      </div>
      <div class="layout-overlay layout-menu-toggle"></div>
    </div>

    <!-- build:js assets/vendor/js/core.js -->
    <script src="{% static 'vendor/libs/jquery/jquery.js' %}"></script>
    <script src="{% static 'vendor/libs/popper/popper.js' %}"></script>
    <script src="{% static 'vendor/js/bootstrap.js' %}"></script>
    <script src="{% static 'vendor/libs/perfect-scrollbar/perfect-scrollbar.js' %}"></script>
    <script src="{% static 'vendor/js/menu.js' %}"></script>
    <script src="{% static 'vendor/libs/apex-charts/apexcharts.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
    <script src="{% static 'js/dashboards-analytics.js' %}"></script>
    <script async defer src="https://buttons.github.io/buttons.js"></script>
    <!-- <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script> -->
    <script src="{% static 'js/sweet.min.js' %}"></script>
    <script>
      {% for msg in messages %}
        swal({
          title: "{{msg.extra_tags}}!",
          text: "{{msg}}",
          icon: "success",
          button: "Ok"
        })
      {% endfor %}
    </script>
  </body>
</html>

